@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-rgb: 74, 179, 217;
  --white-rgb: 243, 243, 243;
  --black-rgb: 23, 23, 23;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button, input[type="submit"] {
  background-color: rgb(var(--main-rgb));
  width: 100%;
  color: rgb(var(--white-rgb));
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type="submit"]:disabled {
  filter: saturate(0) brightness(1.5);
  cursor: default;
}

label {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2ch;
}

form {
  width: 100%;
}

input:not([type="checkbox"],[type="submit"]), textarea, select {
  background-color: white;
  width: 100%;
  color: rgb(var(--black-rgb));
  padding: 0.25rem 0.5rem;
  position: relative;
  border-bottom: transparent 2px solid;
  transition: border 200ms ease-in-out
}

input:not([type="checkbox"],[type="submit"]):focus, textarea:focus {
  background-color: rgb(var(--white-rgb));
  outline: none;
  border-bottom: rgb(var(--main-rgb)) 2px solid;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
}

article {
  background-color: rgb(var(--white-rgb));
  margin-bottom: 1rem;
  width: 100%;
  padding: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  background-color: rgb(var(--main-rgb));
  align-items: center;
  width: 100%;
  z-index: 10;
  padding: 0.5rem;
  color: rgb(var(--white-rgb));
}

nav {
  display: flex;
  justify-content: end;
  text-align: end;
  padding: 3rem;
  position: absolute;
  background-color: rgb(var(--main-rgb));
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  color: rgb(var(--white-rgb));
  transition: left 200ms ease-in-out;
}

.menu-false {
  left: 100%;
}

.menu-true {
  left: 0%;
}

.burger-btn {
  background-color: rgb(var(--main-rgb));
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 15;
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 100ms ease-in-out;
}

.burger-btn:hover {
  background-color: rgba(var(--white-rgb), 0.2);
}

.burger {
  z-index: 15;
  position: relative;
}

.burger, .burger::before, .burger::after {
  background-color: rgb(var(--white-rgb));
  height: 0.1rem;
  width: 2rem;
}

.burger::before, .burger::after {
  position: absolute;
  content: "";
  left: 0
}

.burger::before {
  top: -0.5rem
}

.burger::after {
  bottom: -0.5rem
}

.avatar {
  border-radius: 50%;
  display: inline-block;
  margin: 0.25rem;
  position: relative;
}

.avatar:hover::after {
  content: attr(data-user);
  position: absolute;
  background-color: rgb(var(--white-rgb));
  color: rgb(var(--black-rgb));
}

.logo {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(var(--black-rgb));
}

.logo span {
  color: rgb(var(--white-rgb));
}